*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}
.card{
    width: auto;
    background-color: #1163fc;
    border: solid 3px black;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1rem;


}
.card:first-child{
    background-color: #0015ff;
    opacity: 1;
    color: white;

}
.card:nth-child(2){
    background-color: #0015ff ;
    

}
.card:nth-child(3){
    background-color: #0015ff7e;
    opacity: 1;

}
.card:nth-child(4){
    background-color: #0015ff7e;
    opacity: 1;

}







.card a:link{
    text-decoration: none;
    color: rgb(0, 191, 255);
}
.card a:hover {
    text-decoration: underline;
    color: rgb(0, 51, 255);
}