*{
    margin: 0;
    padding: 0;
}

ul {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    list-style: none;
}   

a {
    color:white;
    text-decoration: none;
}