<h1>Alle Wk jaren</h1>
<div>
<section class="container">
  <article class="card" *ngFor="let year of years">
    
    <p><a routerLink="laatste16/{{year.year}}"><span class="bold">Jaar:</span>{{year.year}}</a></p><br>
    <span class="bold">Land:</span>{{year.Country}}<br>
    <span class="bold">First:</span>{{year.Winner}}<br>
    <span class="bold">Second:</span>{{year.Runners_Up}}<br>
    <span class="bold">Third:</span>{{year.Third}}<br>
    <span class="bold">Fourth:</span>{{year.Fourth}}
  </article>
</section>

 

</div>