*{
    margin: 0;
    padding: 0;
    
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    .card{
        background-color: blue;
        margin: 10px;
        width: 8.5vw;
        border-radius: 10px;
    }

    .bold{
        font-weight: bold;
        margin-left: 5px;
    }
}

